* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

.bg_head {
  margin-top: 30px;
  height: 415px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_head {
  font-size: 47px;
  color: whitesmoke;
  margin: 180px 50px;
  text-shadow: 0px 0px 17px #dbac28;
  font-family: "Fleur De Leah", cursive;
}

.title_site {
  font-size: 55px;
  margin: -130px 5px 10px 110px;
  color: white;
}

.title_3 {
  font-size: 18px;
  font-weight: lighter;
}

.activity {
  color: rgb(255, 255, 255);
  margin: -190px 50px 0;
  font-size: 21px;
}

.container_nav {
  margin-top: -160px;
  display: flex;
  align-items: center;
}

.container_nav_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.country {
  margin: 75px 20%;
  color: white;
  font-size: 19px;
}

.img_logo {
  width: 100%;
  height: 350px;
  margin: 0 -50px;
}

.title_container {
  font-size: 35px;
  margin: 0 50px;
}

.nav_site {
  margin: -205px 730px -17%;
}

.nav {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  margin-top: 10px;
}

.img_gallery {
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px rgb(209, 209, 159);
  width: 50%;
}

.presentation {
  width: 25%;
  display: flex;
  align-items: center;
  margin: 100px 55%;
  padding: 10px;
  box-shadow: 7px 7px 0px 0px rgba(46, 61, 73, 0.2);
  border-radius: 10px;
  border: 1px solid darkgrey;
  background-color: rgb(254, 255, 255);
}

.picture_me {
  width: 25%;
  position: relative;
  margin: -430px 80px;
  border-radius: 10px;
}

.about {
  font-size: 18px;
}

.container_about {
  font-weight: 900;
}

.me {
  font-size: 19px;
  font-weight: 900;
}

.container_contact {
  display: block;
  justify-content: center;
  margin: 30px -107px;
}

/*****************************Gallerie********************/
.img_head_gall {
  margin: -440px 150px;
}

.title_gall {
  color: #000;
}

.motivation {
  margin: 75px 140px;
  color: white;
  font-size: 20px;
}

.img_gallerie {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
  border: 2px solid rgb(228, 203, 111);
  width: 100%;
  height: 435px;
}

.title_page {
  position: absolute;
  margin: 14% 45% 0%;
  border: 3px solid rgb(241, 180, 27);
  border-style: groove;
  border-radius: 25px;
  padding: 5px;
  color: #000;
}

.title_gall {
  color: #000;
  margin: 0;
}

.container_nav_gall {
  height: 50px;
  margin: -110px 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#container_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 100px;
}

/******************************Page prestation*****************/
.bg_head_presta {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_head_presta {
  margin: -165px 200px;
}

.nav_presta {
  margin: 0px 5px;
}

.title_presta,
.nav_lien_presta {
  color: #000;
}

.activity_presta {
  margin: 400px 200px;
  position: absolute;
}

.nav_presta {
  position: absolute;
  margin: 0 70% -27%;
}

li {
  list-style: none;
  color: white;
}

#body_presta {
  background-color: black;
}

.nav_bar {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: white;
  font-size: 16px;
  border: 2px solid rgb(206, 173, 65);
  border-style: outset;
  border-radius: 25px;
  padding: 5px;
  margin: 0 15px;
}

.container_presta {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgb(167, 163, 84);
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 20px;
  padding: 25px;
  margin: 50px 29%;
}

.title_formule {
  position: absolute;
  margin: -200px 36%;
  color: white;
}

.prestation {
  width: 100%;
  margin: 360px 0px;
}

li {
  list-style: none;
}

.title_presta {
  font-size: 35px;
  margin-bottom: 45px;
  color: white;
}

.liste_presta {
  font-size: 23px;
  margin-bottom: 50px;
}

.other {
  margin: 0 30%;
  color: white;
}

.title_precision {
  font-size: 19px;
  margin: 15px 0px;
}

.container_precision {
  margin: 60px 320px 0px 335px;
  border: 1px green solid;
  padding: 20px;
  border-radius: 15px;
  background-color: whitesmoke;
}

.footer {
  margin: -280px 0px;
  padding: 2px;
}

/***************************ACCES*************************/
.img_client {
  width: 100%;
  margin: 20px 0;
}

.accesclient {
  display: inline-block;
  width: 100%;
  max-width: 370px;
  margin: 130px 490px;
  vertical-align: top;
  font-family: "Open Sans", sans-serif;
}

/**********************FOOTER****************************/
.copyr {
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.contact {
  margin: 2px 3px;
  color: white;
}

.reseau_socio {
  margin: 25px 585px;
}

.mail {
  color: rgb(255, 255, 255);
  margin: -20px 80px 1px;
  position: absolute;
}

.fa-brands {
  display: contents;
}

.insta {
  font-size: 45px;
  color: #ab20c1;
}

.facebk {
  font-size: 45px;
  color: #1c17bb;
}

/******************************carrousel******************/
.carousel-wrapper {
  width: 1210px;
  height: 624px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto 20px;
}

.carousel-container {
  width: 1100px;
  height: 680px;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  width: 3300px;
  -webkit-animation: sliding 12s infinite;
          animation: sliding 12s infinite;
}
.carousel div {
  width: 1100px;
  height: 480px;
  background-size: cover;
  background-position: center;
}
.carousel:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.carousel .image-one {
  background-image: url("images/IMG_0485.jpg");
  height: 720px;
}
.carousel .image-two {
  background-image: url("images/gabi_noir_et_blanc.jpg");
  height: 720px;
}
.carousel .image-three {
  background-image: url("images/marie_noir_et_blanc.jpg");
  height: 720px;
}

@-webkit-keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-1100px);
  }
  65% {
    transform: translateX(-1100px);
  }
  70% {
    transform: translateX(-2200px);
  }
  98% {
    transform: translateX(-2200px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-1100px);
  }
  65% {
    transform: translateX(-1100px);
  }
  70% {
    transform: translateX(-2200px);
  }
  98% {
    transform: translateX(-2200px);
  }
  100% {
    transform: translateX(0);
  }
}
@media screen and (max-width: 768px) {
  .carousel-wrapper {
    width: 350px;
    height: 230px;
    margin: 50px auto 20px;
  }
  .carousel-container {
    width: 350px;
    height: 230px;
    border-radius: inherit;
  }
  .carousel {
    width: 1050px;
  }
  .carousel > div {
    width: 350px;
    height: 230px;
  }
  .carousel .image-one {
    background-image: url("images/IMG_0485.jpg");
    height: 230px;
  }
  .carousel .image-two {
    background-image: url("images/gabi_noir_et_blanc.jpg");
    height: 230px;
  }
  .carousel .image-three {
    background-image: url("images/marie_noir_et_blanc.jpg");
    height: 230px;
  }
  @-webkit-keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-350px);
    }
    65% {
      transform: translateX(-350px);
    }
    70% {
      transform: translateX(-700px);
    }
    98% {
      transform: translateX(-700px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-350px);
    }
    65% {
      transform: translateX(-350px);
    }
    70% {
      transform: translateX(-700px);
    }
    98% {
      transform: translateX(-700px);
    }
    100% {
      transform: translateX(0);
    }
  }
}
/****************************************Responsive*************/
@media screen and (max-width: 770px) {
  body {
    background-color: rgb(0, 0, 0);
  }
  .bg_head {
    height: auto;
    margin-top: 70px;
  }
  .logo {
    margin: 295px 25%;
  }
  .activity {
    color: rgb(255, 254, 254);
    margin: -44px 17%;
  }
  .container_nav_bar {
    margin: 25%;
    justify-content: center;
  }
  .title_site {
    font-size: 20px;
    margin-top: 25px;
    color: white;
  }
  .picture_me {
    width: 30%;
    margin: 30px 35%;
  }
  .img_head {
    font-family: "Fleur De Leah", cursive;
    margin: -280px 36px;
    border-radius: 0;
    color: rgb(255, 254, 254);
    font-size: 55px;
  }
  .container_nav {
    width: 100%;
    display: block;
    margin: 0;
  }
  .country {
    font-weight: 100;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 20px 10%;
  }
  .activity_gall {
    margin: -44px 5%;
  }
  .activity_presta {
    margin: -11px 17px;
  }
  .title_site {
    font-size: 40px;
    font-weight: lighter;
    color: #000;
    margin: 15px 140px;
  }
  .nav_bar {
    font-size: 11px;
    color: rgb(255, 255, 255);
  }
  .nav_site {
    margin: 65px 50px;
  }
  .me {
    font-size: 18px;
    font-weight: lighter;
  }
  .container_about {
    font-weight: 100;
    text-align: justify;
    margin: 10px;
  }
  .about {
    padding: 5px;
    text-align: left;
  }
  .presentation {
    display: block;
    background-color: rgb(255, 255, 255);
    margin: 0px 6px;
    width: auto;
  }
  .reseau_socio {
    margin: 80px 160px;
  }
  .insta {
    font-size: 25px;
    margin: 25px 79px;
    border-radius: 25px;
  }
  .facebk {
    font-size: 25px;
    margin: 0 -45px;
    border-radius: 25px;
  }
  .mail {
    position: absolute;
    margin: -25px 55px;
  }
  .copyr {
    color: white;
    font-size: 15px;
    display: flex;
    /* justify-content: center; */
    margin: -54px 30px;
  }
  /************************************Prestation*****************/
  .title_formule {
    position: absolute;
    margin: -55px 30%;
    font-size: 25px;
  }
  .title_presta {
    font-size: 20px;
  }
  .container_presta {
    margin: 25px 5px;
  }
  .container_prestation {
    margin: -280px 0px;
  }
  .container_precision {
    margin: -280px 14px;
  }
  .container_contact {
    display: flex;
    justify-content: center;
    margin: 25px 0px;
  }
  .contact {
    margin: -55px -25px;
  }
  .other {
    margin: 320px 49px;
  }
  /*********************************Gallerie*********************/
  .motivation {
    margin: 14px 25px;
  }
  .nav_site_gall {
    display: block;
    margin: 50px 60px;
  }
  #container_img {
    display: block;
    margin: 110px 10px;
  }
  .img_gallerie {
    height: 440px;
  }
  .img_gall_head {
    height: 150px;
    border-radius: 0;
  }
  .title_page {
    display: none;
  }
  /******************Client************************/
  .accesclient {
    max-width: 335px;
    margin: 130px 11px;
  }
}
/***********************************FIN RESPONSIVE*************************************//*# sourceMappingURL=style.css.map */