* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
}

a {
  text-decoration: none;
}

.bg_head {
  margin-top: 30px;
  height: 600px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_head {
  font-size: 47px;
  color: rgb(0, 0, 0);
  margin: 180px 50px;
  text-shadow: 0px 0px 17px #dbac28;
  font-family: "Fleur De Leah", cursive;
}

.title_site {
  font-size: 55px;
  margin: -130px 5px 10px 110px;
  color: white;
}

.title_3 {
  font-size: 18px;
  font-weight: lighter;
}

.activity {
  color: rgb(0, 0, 0);
  margin: -110px 50px 0;
  font-size: 27px;
  font-weight: lighter;
}

.container_nav {
  margin-top: -160px;
  display: flex;
  align-items: center;
}

.container_nav_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.country {
  margin: 75px 20%;
  color: white;
  font-size: 19px;
}

.img_logo {
  width: 100%;
  height: 350px;
  margin: 0 -50px;
}

.title_container {
  font-size: 35px;
  margin: 0 50px;
}

.nav_site {
  margin: -205px 590px -16%;
}

.nav {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  margin-top: 10px;
}

.img_gallery {
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px rgb(209, 209, 159);
  width: 50%;
}

.bio_me {
  margin: 140px 0px;
}

.presentation {
  display: flex;
  align-items: center;
  margin: -40px 30px 30px 730px;
  padding: 24px;
  box-shadow: 7px 7px 0px 0px rgba(46, 61, 73, 0.2);
  border-radius: 10px;
  border: 1px solid darkgrey;
  background-color: rgb(254, 255, 255);
}

.picture_me {
  width: 55%;
  position: relative;
  margin: -430px 15px;
  border-radius: 5px;
}

.about {
  font-size: 15px;
}

.me {
  font-size: 19px;
  font-weight: 900;
}

.question {
  margin: 10px 80px;
}

.question_bio {
  font-weight: bold;
  font-size: 20px;
}

.faq {
  margin: 70px 475px;
}

.container_contact {
  display: block;
  justify-content: center;
  margin: 145px 50px;
}

/*****************************Gallerie********************/
.parent {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.img_head_gall {
  margin: -440px 150px;
}

.title_gall {
  color: #000;
}

.motivation {
  margin: 75px 140px;
  color: rgb(0, 0, 0);
  font-size: 17px;
}

.img_gallerie {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
  border: 2px solid rgb(228, 203, 111);
  width: 100%;
  height: 435px;
}

.title_page {
  position: absolute;
  margin: 14% 45% 0%;
  border: 3px solid rgb(241, 180, 27);
  border-style: groove;
  border-radius: 25px;
  padding: 5px;
  color: #000;
}

.title_gall {
  color: #000;
  margin: 0;
}

.container_nav_gall {
  height: 50px;
  margin: -110px 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#container_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 100px;
}

/******************************Page prestation*****************/
.redflower {
  -o-object-fit: contain;
     object-fit: contain;
  width: 90%;
  position: relative;
  margin: 50px -11px 335px;
}

.bg_head_presta {
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.img_head_presta {
  margin: -165px 200px;
}

.nav_presta {
  margin: 0px 5px;
}

.title_presta,
.nav_lien_presta {
  color: #000;
}

.activity_presta {
  margin: 400px 200px;
  position: absolute;
}

.nav_presta {
  position: absolute;
  margin: 0 70% -27%;
}

.proposition {
  margin: 43px;
  font-size: 20px;
}

.proposition_1 {
  margin: 43px;
  font-size: 20px;
}

li {
  list-style: none;
  font-family: "Cormorant Garamond", serif;
  margin: 5px 0px;
}

#body_presta {
  background-color: black;
}

.nav_bar {
  width: -moz-max-content;
  width: max-content;
  color: rgb(1, 1, 1);
  font-size: 16px;
  border: 2px solid rgb(206, 173, 65);
  border-style: outset;
  border-radius: 25px;
  padding: 5px;
  margin: 0 15px;
}

.container_prestation {
  margin: 40px 40px;
}

.container_presta {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgb(167, 163, 84);
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 20px;
  padding: 25px;
  margin: 10px 8%;
}

.title_formule {
  position: absolute;
  margin: 30px 423px;
  color: rgb(9, 9, 9);
  font-size: 20px;
}

.title_formule_1 {
  font-family: "Cinzel", serif;
  font-size: 25px;
  text-decoration-line: underline;
  margin: 10px 0px;
}

.prestation {
  height: 1250px;
  margin: 80px 0px 0px 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 42px;
  grid-row-gap: 20px;
}

.info_presta {
  margin: -315px 0px;
}

.title_presta {
  font-size: 25px;
  margin-bottom: 45px;
  color: rgb(0, 0, 0);
}

.liste_presta {
  font-size: 23px;
  margin-bottom: 50px;
}

.other {
  margin: 0 30%;
  color: white;
}

.title_precision {
  font-size: 14px;
  margin: 15px 0px;
}

.container_precision {
  margin: 960px 281px 0px 180px;
  position: absolute;
  border: 1px green solid;
  padding: 20px;
  border-radius: 15px;
  background-color: whitesmoke;
}

.footer {
  margin: -280px 0px;
  padding: 2px;
}

/************************contact***************************/
.invit_contact {
  margin: 80px 50px;
}

.img_contact {
  width: 32%;
  margin: -100px 425px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.mail_contact {
  margin: 18px 0;
}

.mobile {
  margin: -50px 52px 0px;
}

.google_form {
  margin: 50px 175px;
}

/**********************FOOTER****************************/
.copyr {
  color: rgb(6, 6, 6);
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin: 100px;
}

.contact {
  margin: 2px 3px;
  color: rgb(0, 0, 0);
}

.reseau_socio {
  margin: 35px 50px;
}

.mail {
  color: rgb(0, 0, 0);
  margin: -20px 80px 1px;
  position: absolute;
}

.fa-brands {
  display: contents;
}

.insta {
  font-size: 25px;
  color: #ab20c1;
}

.facebk {
  font-size: 25px;
  color: #1c17bb;
}

/****************************************Responsive*************/
@media screen and (max-width: 770px) {
  body {
    background-color: rgb(255, 255, 255);
  }
  .bg_head {
    height: auto;
    margin-top: 70px;
  }
  .logo {
    margin: 295px 25%;
  }
  .activity {
    color: rgb(0, 0, 0);
    font-size: 15px;
    margin: 0px 35px 20px;
  }
  .container_nav_bar {
    margin: 25%;
    justify-content: center;
  }
  .title_site {
    font-size: 20px;
    margin-top: 25px;
    color: rgb(0, 0, 0);
  }
  .picture_me {
    width: 95%;
    margin: 5px 2%;
  }
  .img_head {
    font-family: "Fleur De Leah", cursive;
    margin: -280px 30px;
    border-radius: 0;
    color: rgb(0, 0, 0);
    font-size: 55px;
  }
  .container_nav {
    width: 100%;
    display: block;
    margin: 0;
  }
  .country {
    font-weight: 100;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin: 20px 10%;
  }
  .activity_gall {
    margin: -44px 5%;
  }
  .activity_presta {
    margin: -11px 17px;
  }
  .title_site {
    font-size: 40px;
    font-weight: lighter;
    color: #000;
    margin: 15px 140px;
  }
  .nav_bar {
    font-size: 11px;
    color: rgb(0, 0, 0);
  }
  .nav_site {
    margin: 65px 50px;
  }
  .me {
    font-size: 18px;
    font-weight: lighter;
  }
  .container_about {
    font-weight: 100;
    text-align: justify;
    margin: 10px;
  }
  .about {
    padding: 5px;
    text-align: left;
  }
  .presentation {
    display: block;
    background-color: rgb(255, 255, 255);
    margin: 0px 6px;
    width: auto;
  }
  .reseau_socio {
    margin: 80px 150px;
  }
  .insta {
    font-size: 25px;
    margin: 25px 79px;
    border-radius: 25px;
  }
  .facebk {
    font-size: 25px;
    margin: 0 -45px;
    border-radius: 25px;
  }
  .mail {
    position: absolute;
    margin: -25px 55px;
  }
  .copyr {
    color: rgb(0, 0, 0);
    font-size: 12px;
    display: flex;
    /* justify-content: center; */
    margin: 135px 20px;
  }
  /************************************Prestation*****************/
  .redflower {
    height: 200px;
    width: auto;
  }
  .prestation {
    margin: 0px 0px 0px 45px;
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 290px;
  }
  .title_formule {
    position: absolute;
    margin: -75px 20px;
    font-size: 15px;
    color: rgb(0, 0, 0);
  }
  .title_formule_1 {
    font-family: "Cinzel", serif;
    font-size: 15px;
    text-decoration-line: underline;
  }
  .formule_precis {
    font-size: 12px;
  }
  .title_presta {
    font-size: 20px;
  }
  .container_presta {
    margin: 25px 5px;
    background-color: antiquewhite;
  }
  .container_prestation {
    margin: 100px 0px;
  }
  .container_precision {
    margin: 980px 10px 0px -35px;
  }
  .info_precis {
    font-size: 12px;
  }
  .container_contact {
    display: flex;
    justify-content: center;
    margin: 25px 0px;
  }
  .contact {
    margin: -55px -10px;
    color: rgb(0, 0, 0);
  }
  .mail {
    margin: -55px 0px;
    color: rgb(0, 0, 0);
  }
  .number {
    color: rgb(0, 0, 0);
    margin: -25px -25px;
    font-size: 14px;
  }
  .img_contact {
    margin: 47px -257px;
    width: 280px;
  }
  .other {
    margin: 320px 49px;
  }
  .footer-presta {
    margin: 120px 0px 1px;
    padding: 2px;
  }
  .footer_presta {
    margin: 0px;
  }
  .mobile {
    color: rgb(0, 0, 0);
  }
  /*********************************Gallerie*********************/
  .motivation {
    margin: 14px 25px;
    color: rgb(0, 0, 0);
    font-size: 12px;
  }
  .nav_site_gall {
    display: block;
    margin: 50px 60px;
  }
  #container_img {
    display: block;
    margin: 110px 10px;
  }
  .img_gallerie {
    height: 140px;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
  }
  .img_gall_head {
    height: 150px;
    border-radius: 0;
  }
  .title_page {
    display: none;
  }
  .invit_contact {
    color: rgb(0, 0, 0);
    font-size: 12px;
  }
  iframe {
    width: 100%;
  }
  .question {
    margin: 10px 10px;
  }
  .faq {
    margin: 70px 95px;
    color: rgb(0, 0, 0);
  }
  .question_bio {
    color: rgb(0, 0, 0);
    font-size: 14px;
  }
  .reponse_bio {
    color: rgb(0, 0, 0);
    font-size: 14px;
  }
  .google_form {
    margin: 0px;
  }
}
/***********************************FIN RESPONSIVE*************************************//*# sourceMappingURL=style.css.map */