* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
  background: rgb(55,107,138);
background: linear-gradient(0deg, rgb(105, 187, 234) 7%, rgb(186, 245, 246) 64%);
}
a {
  text-decoration: none;
}

.img_head {
  font-family: "Lobster", cursive;
  font-size: 55px;
  font-style: italic;
  color: #763f31;
  margin: 10px 40px;
  //background: rgb(2,0,36);
  //color: linear-gradient(288deg, rgba(2,0,36,1) 0%, rgba(210,214,54,1) 42%, rgba(0,212,255,1) 100%);
}
// .container_nav{
//   box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
//   border-radius: 20px;
// }
.title_site {
  font-size: 55px;
  margin: -130px 5px 10px 110px;
  color: white;
}
.activity {
  color: rgb(10, 10, 10);
  margin: 90px -165px 0;
  font-size: 20px;
}

.container_nav {
  display: flex;
  align-items: center;
}
.container_nav_bar {
  display: flex;
  margin: 0px 85%;
  justify-content: space-around;
}
#head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.img_logo {
  width: 100%;
  height: 350px;
  margin: 0 -50px;
}

.title_container {
  font-size: 35px;
  margin: 0 50px;
}
.nav_site {
  margin-left: 48%;
}
.nav {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  margin-top: 10px;
}
.img_gallery {
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px rgb(209, 209, 159);
  width: 50%;
}
.presentation {
  display: flex;
  align-items: center;
  margin: 150px 50px;
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 20px;
}
.picture_me {
  width: 15%;
  margin: 0 20px;
  border-radius: 550px;
  //border: rgb(197, 195, 62) 2px solid;
}

.about {
  width: 100%;
  font-size: 18px;
}
/*****************************Gallerie********************/
.img_gall_head {
  width: 100%;
  height: 370px;
  object-fit: cover;
  border-radius: 0 0 30px 30px;
}

.title_gall {
  color: #000;
}

.activity_gall {
  margin: 0;
  color: #000;
}

.img_gallerie {
  object-fit: cover;
  border-radius: 7px;
  border: 2px solid rgb(228, 203, 111);
  width: 100%;
  height: 100%;
}

.title_page {
  position: absolute;
  margin: 14% 45% 0%;
  border: 3px solid rgb(241, 180, 27);
  border-style: groove;
  border-radius: 25px;
  padding: 5px;
  color: #000;
}
.title_gall {
  color: #000;
  margin: 0;
}
.container_nav_gall {
  height: 50px;
  margin: -110px 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav_gall {
  color: #000;
  font-size: 25px;
  border: 3px solid rgb(206, 173, 65);
  border-style: outset;
  border-radius: 25px;
  padding: 5px;
}
#container_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 400px;
}
.img_gallerie {
  object-fit: cover;
  width: 100%;
  //height: 640px;
  border-radius: 5px;
  border: 2px solid rgb(206, 173, 65);
}

/******************************Page prestation*****************/
.nav_presta {
  margin: 0px 5px;
}

.title_presta,
.nav_lien_presta {
  color: #000;
}

li {
  list-style: none;
}

#body_presta {
  background-color: #ffffffb0;
}
.nav_bar {
  color: rgb(4, 4, 4);
  font-size: 25px;
  border: 3px solid rgb(206, 173, 65);
  border-style: outset;
  border-radius: 25px;
  padding: 5px;
  margin: 0 15px;
}

.container_presta {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  flex-direction: column;
  border: 2px solid rgb(167, 163, 84);
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 20px;
  padding: 25px;
  margin: 50px 30%;
}
.title_formule {
  position: absolute;
  margin: -74px 43%;
}
.prestation {
  width: 100%;
  margin: 400px 0px;
}
// .goyave {
//   background-color: #f0b9d9;
// }
// .mangue {
//   background-color: #fdde70;
// }
// .orange {
//   background-color: #b3efac;
// }
li {
  list-style: none;
}
.title_presta {
  font-size: 35px;
  margin-bottom: 45px;
}
.liste_presta {
  font-size: 23px;
  margin-bottom: 50px;
}
.other {
  margin: 0 30%;
}

.container_precision {
  margin: 60px 320px 0px 335px;
  border: 1px green solid;
  padding: 20px;
  border-radius: 15px;
  background-color: whitesmoke;
}
/**********************FOOTER****************************/

.reseau_socio {
  margin: 25px 40%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.socio_index {
  margin: 0px 40% 20px;
}
.mail {
  color: #000;
}
.insta {
  font-size: 45px;
  color: #ab20c1;
}
.facebk {
  font-size: 45px;
  color: #1c17bb;
}
/******************************carrousel******************/
$size-width: 1100px;
$size-height: 480px;

.carousel-wrapper {
  width: $size-width * 1.1 ;
  height: $size-height * 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 25px 0px rgba(225 221 197 / 43%);
  border-radius: 20px;
  margin: 200px auto 20px;
  background-color: cadetblue;
}

.carousel-container {
  width: $size-width;
  height: $size-height;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  width: $size-width * 3;
  animation: sliding 12s infinite;
  div {
    width: $size-width;
    height: $size-height;
    background-size: cover;
    background-position: center;
  }
  &:hover {
    animation-play-state: paused;
  }
  .image-one {
    background-image: url("images/IMG_0485.jpg");
  }
  .image-two {
    background-image: url("images/gabi_noir_et_blanc.jpg");
  }
  .image-three {
    background-image: url("images/marie_noir_et_blanc.jpg");
  }
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-$size-width);
  }
  65% {
    transform: translateX(-$size-width);
  }
  70% {
    transform: translateX(-$size-width * 2);
  }
  98% {
    transform: translateX(-$size-width * 2);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  $size-width: 240px;
  $size-height: 150px;
  .carousel-wrapper {
    width: $size-width * 1.3;
    height: $size-height * 1.4;
  }

  .carousel-container {
    width: $size-width;
    height: $size-height;
  }

  .carousel {
    width: $size-width * 3;
    > div {
      width: $size-width;
      height: $size-height;
    }
  }

  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-$size-width);
    }
    65% {
      transform: translateX(-$size-width);
    }
    70% {
      transform: translateX(-$size-width * 2);
    }
    98% {
      transform: translateX(-$size-width * 2);
    }
    100% {
      transform: translateX(0);
    }
  }
}
/****************************************Responsive*************/
@media screen and (max-width: 770px) {
  body {
    background-color: rgb(235, 235, 235);
  }
  .title_site {
    font-size: 20px;
    margin-top: 25px;
  }
  .picture_me {
    width: 30%;
  }
  .img_head {
    margin: 15px 0px;
    // height: 180px;
    border-radius: 0;
    width: 100%;
  }
  .container_nav {
    //margin: 30px 65px;
    width: 100%;
    display: block;
    margin: 0;
  }
  .activity {
    color: #000;
    font-size: 15px;
    margin: -95px 19%;
  }
  .title_site {
    font-size: 40px;
    font-weight: lighter;
    color: #000;
    margin: 15px 140px;
  }
  .nav_bar {
    font-size: 20px;
    color: #000;
  }
  .nav_site {
    margin: 0 50px;
  }
  .container_nav_bar {
    margin: -45px 0;
    //display: block;
  }

  .container_about {
    text-align: justify;
    margin: 10px;
  }

  .about {
    padding: 5px;
    text-align: left;
  }

  .presentation {
    display: block;
    background-color: rgb(255, 255, 255);
  }
  .insta {
    width: 12%;
    border-radius: 25px;
  }
  .facebk {
    width: 12%;
    border-radius: 25px;
  }

  /************************************Prestation*****************/
  .prestation {
    margin: 155px 30px;
  }
  .title_formule {
    position: absolute;
    margin: -55px 15%;
    font-size: 25px;
  }
  .title_presta {
    font-size: 20px;
  }
  .container_presta {
    width: 80%;
    margin: 25px 5px;
  }
  .container_precision {
    margin: 0px;
    width: 85%;
  }
  .other {
    margin: 41px 49px;
  }
  #body_presta {
    background-color: white;
  }
  /*********************************Gallerie*********************/
  .nav_site_gall {
    display: block;
    margin: 50px 60px;
  }
  #container_img {
    display: block;
    margin: 110px 10px;
  }

  .img_gallerie {
    height: 440px;
  }

  .img_gall_head {
    height: 150px;
    border-radius: 0;
  }
  .title_page {
    display: none;
  }
  .mail {
    color: #000;
    position: absolute;
    margin: 70px;
  }
}
/***********************************FIN RESPONSIVE*************************************/
