* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lobster", cursive;
}

a {
  text-decoration: none;
}

.img_head {
  -o-object-fit: cover;
     object-fit: cover;
  width: 25%;
}

.title_site {
  font-size: 55px;
  margin: -130px 5px 10px 110px;
  color: white;
}

.activity {
  position: absolute;
  color: rgb(10, 10, 10);
  margin: -188px 20%;
  font-size: 20px;
}

.container_nav_bar {
  display: flex;
  margin: -220px 65%;
  justify-content: space-around;
}

#head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.img_logo {
  width: 100%;
  height: 350px;
  margin: 0 -50px;
}

.title_container {
  font-size: 35px;
  margin: 0 50px;
}

.nav {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  margin-top: 10px;
}

.img_gallery {
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px rgb(209, 209, 159);
  width: 50%;
}

.presentation {
  display: flex;
  align-items: center;
  margin: 330px 50px;
  border: rgb(255, 187, 2) 3px solid;
  border-radius: 15px;
}

.picture_me {
  width: 15%;
  margin: 0 20px;
  border-radius: 550px;
}

.about {
  width: 100%;
  font-size: 18px;
}

/*****************************Gallerie********************/
.img_gall_head {
  width: 100%;
  height: 370px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 30px 30px;
}

.title_gall {
  color: #000;
}

.activity_gall {
  margin: 0;
  color: #000;
}

.img_gallerie {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
  border: 2px solid rgb(228, 203, 111);
  width: 100%;
  height: 100%;
}

.title_page {
  position: absolute;
  margin: 14% 45% 0%;
  border: 3px solid rgb(241, 180, 27);
  border-style: groove;
  border-radius: 25px;
  padding: 5px;
  color: #000;
}

.title_gall {
  color: #000;
  margin: 0;
}

.container_nav_gall {
  height: 50px;
  margin: -110px 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.nav_gall {
  color: #000;
  font-size: 25px;
  border: 3px solid rgb(206, 173, 65);
  border-style: outset;
  border-radius: 25px;
  padding: 5px;
}

#container_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 400px;
}

.img_gallerie {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 640px;
  border-radius: 5px;
  border: 2px solid rgb(206, 173, 65);
}

/******************************Page prestation*****************/
.nav_presta {
  margin: 0px 5px;
}

.title_presta,
.nav_lien_presta {
  color: #000;
}

li {
  list-style: none;
}

#body_presta {
  background-color: rgba(255, 255, 255, 0.6901960784);
}

.nav_bar {
  color: rgb(4, 4, 4);
  font-size: 25px;
  border: 3px solid rgb(206, 173, 65);
  border-style: outset;
  border-radius: 25px;
  padding: 5px;
  margin: 0 15px;
}

.container_presta {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid rgb(124, 159, 159);
  border-radius: 10px;
  box-shadow: 7px 7px rgba(192, 169, 195, 0.2784313725);
  padding: 25px;
  margin: 50px 30%;
}

.title_formule {
  position: absolute;
  margin: -74px 43%;
}

.prestation {
  width: 100%;
  margin: 400px 0px;
}

.goyave {
  background-color: #f0b9d9;
}

.mangue {
  background-color: #fdde70;
}

.orange {
  background-color: #b3efac;
}

li {
  list-style: none;
}

.title_presta {
  font-size: 35px;
  margin-bottom: 45px;
}

.liste_presta {
  font-size: 23px;
  margin-bottom: 50px;
}

.other {
  margin: 0 30%;
}

.container_precision {
  margin: 60px 320px 0px 335px;
  border: 1px green solid;
  padding: 20px;
  border-radius: 15px;
  background-color: whitesmoke;
}

/**********************FOOTER****************************/
.reseau_socio {
  margin: 25px 40%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.socio_index {
  margin: -230px 40% 20px;
}

.mail {
  color: #000;
}

.insta {
  font-size: 45px;
  color: #ab20c1;
}

.facebk {
  font-size: 45px;
  color: #1c17bb;
}

/******************************carrousel******************/
.pic1 {
  width: 80%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pic2 {
  width: 80%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}

.pic3 {
  width: 80%;
  height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
}

@-webkit-keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}
.pic-ctn {
  position: relative;
  width: 75vw;
  height: 300px;
  margin-top: 70vh;
}

.pic-ctn > img {
  border-radius: 15px;
  border: 2px solid rgb(236, 202, 123);
  position: absolute;
  top: 0;
  left: calc(50% - 350px);
  opacity: 0;
  -webkit-animation: display 10s infinite;
          animation: display 10s infinite;
}

img:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

img:nth-child(3) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}

/****************************************Responsive*************/
@media screen and (max-width: 450px) {
  body {
    background-color: rgb(235, 235, 235);
  }
  .title_site {
    font-size: 20px;
    margin-top: 25px;
  }
  .picture_me {
    width: 30%;
  }
  .img_head {
    margin: -15px 0;
    height: 180px;
    border-radius: 0;
  }
  .container_nav {
    width: 100%;
    display: block;
    margin: 0;
  }
  .activity {
    color: #000;
    font-size: 15px;
    margin: -13px 19%;
  }
  .title_site {
    font-size: 40px;
    font-weight: lighter;
    color: #000;
    margin: 15px 140px;
  }
  .nav_bar {
    font-size: 20px;
    color: #000;
  }
  .container_nav_bar {
    margin: 50px 20%;
  }
  .pic-ctn {
    position: relative;
    width: 80vw;
    height: 50px;
    margin-top: 15vh;
  }
  .pic-ctn > img {
    width: 100%;
    height: 450px;
  }
  .pic1 {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pic2 {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .pic3 {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .container_about {
    border: rgb(197, 195, 62) solid 1px;
    text-align: justify;
    margin: 10px;
  }
  .about {
    padding: 5px;
    text-align: left;
  }
  .presentation {
    display: block;
  }
  .insta {
    width: 12%;
    border-radius: 25px;
  }
  .facebk {
    width: 12%;
    border-radius: 25px;
  }
  /*******************Prestation*****************/
  .prestation {
    margin: 30px;
  }
  .title_presta {
    font-size: 20px;
  }
  .container_presta {
    width: 80%;
    margin: 25px 5px;
  }
  .container_precision {
    margin: 0px;
    width: 85%;
  }
  .other {
    margin: 41px 49px;
  }
  #body_presta {
    background-color: white;
  }
  /*********************************Gallerie*********************/
  .nav_site_gall {
    display: block;
    margin: 50px 60px;
  }
  #container_img {
    display: block;
    margin-top: 210px;
  }
  .img_gallerie {
    height: 440px;
  }
  .img_gall_head {
    height: 150px;
    border-radius: 0;
  }
  .title_page {
    display: none;
  }
  .mail {
    color: #000;
  }
}
/***********************************FIN RESPONSIVE*************************************//*# sourceMappingURL=style.css.map */