* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
  background-color: #000;
}

a {
  text-decoration: none;
}
.bg_head{
  margin-top: 30px;
  height: 465px;
    width: 100%;
    object-fit: cover;
    
}
.img_head {
  font-size: 55px;
  color: whitesmoke;
  margin: 180px 50px;
  text-shadow: 0px 0px 17px #dbac28;
}

.title_site {
  font-size: 55px;
  margin: -130px 5px 10px 110px;
  color: white;
}
.title_3{
  font-size: 18px;
  font-weight: lighter;
}
.activity {
  color: rgb(255, 255, 255);
  margin: -190px 50px 0;
  font-size: 25px;
  font-weight: 100;
}

.container_nav {
  margin-top: -160px;
  display: flex;
  align-items: center;
}
.container_nav_bar {
  display: flex;
  margin: 0px 85%;
  justify-content: space-around;
}
#head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.country{
margin: 75px 20%;
color: white;
font-size: 19px;
}
.img_logo {
  width: 100%;
  height: 350px;
  margin: 0 -50px;
}

.title_container {
  font-size: 35px;
  margin: 0 50px;
}
.nav_site {

  margin:-205px 455px -17%;
}
.nav {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000;
  margin-top: 10px;
}


.img_gallery {
  border-radius: 25px;
  box-shadow: 2px 2px 2px 2px rgb(209, 209, 159);
  width: 50%;
}
.presentation {
  width: 25%;
  display: flex;
  align-items: center;
  margin: 100px 55%;
  padding: 10px;
  box-shadow: 7px 7px 0px 0px rgb(46 61 73 / 20%);
  border-radius: 10px;
  border: 1px solid darkgrey;
  background-color: rgb(254, 255, 255);
}
.picture_me {
  width: 25%;
  position: relative;
    margin: -430px 80px;
    border-radius: 10px;
}

.about {
  
  font-size: 18px;
}

 .container_about{

font-weight: 900;
 }

.me{
  font-size: 19px;
    font-weight: 900;
}
.container_contact{
  display: block;
  justify-content: center;
  margin: 30px -107px
}
/*****************************Gallerie********************/

.img_head_gall{
  margin: -440px 150px;;
}
.title_gall {
  color: #000;
}

.activity_gall {
  position: absolute;
  margin: 750px 140px 0;;
  color: white;
  font-size: x-large;
}
.motivation{
  margin: 75px 140px;
  color: white;
}
.img_gallerie {
  object-fit: cover;
  border-radius: 7px;
  border: 2px solid rgb(228, 203, 111);
  width: 100%;
  height: 335px;
}

.title_page {
  position: absolute;
  margin: 14% 45% 0%;
  border: 3px solid rgb(241, 180, 27);
  border-style: groove;
  border-radius: 25px;
  padding: 5px;
  color: #000;
}
.title_gall {
  color: #000;
  margin: 0;
}
.container_nav_gall {
  height: 50px;
  margin: -110px 35px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}


#container_img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 250px;
}


/******************************Page prestation*****************/
.bg_head_presta{
  height: 450px;
  object-fit: cover;
}
.img_head_presta{
  margin: -165px 200px;
}
.nav_presta {
  margin: 0px 5px;
}

.title_presta,
.nav_lien_presta {
  color: #000;
}

.activity_presta{
  margin: 400px 200px;
  position: absolute;
}

.nav_presta {
  position: absolute;
  margin:0 70% -27%;;
}
li {
  list-style: none;
  color: white;
}

#body_presta {
  background-color: black;
}
.nav_bar {
  color: white;
  font-size: 20px;
  border: 2px solid rgb(206, 173, 65);
  border-style: outset;
  border-radius: 25px;
  padding: 5px;
  margin: 0 15px;
}

.container_presta {
  display: flex;
  align-items: center;
  //justify-content: space-between;
  flex-direction: column;
  border: 2px solid rgb(167, 163, 84);
  box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
  border-radius: 20px;
  padding: 25px;
  margin: 50px 22%;
}
.title_formule {
  position: absolute;
  margin: -200px 44%;
  color: white;

}
.prestation {
  width: 100%;
  margin: 360px 0px;
}

li {
  list-style: none;
}
.title_presta {
  font-size: 35px;
  margin-bottom: 45px;
  color: white;
}
.liste_presta {
  font-size: 23px;
  margin-bottom: 50px;
}
.other {
  margin: 0 21%;
  color: white;
}
.title_precision{
  font-size: 20px;
  margin: 15px 0px;
}
.container_precision {
  margin: 60px 320px 0px 335px;
  border: 1px green solid;
  padding: 20px;
  border-radius: 15px;
  background-color: whitesmoke;
}
/**********************FOOTER****************************/
.copyr{
  color: white;
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.contact {
  margin: 1px -41px;
  color: white;
}
.reseau_socio {
  margin: 25px 585px;
  
}

.mail {
  color: rgb(255, 255, 255);
  margin: -25px 80px 1px;
    position: absolute;
}
.fa-brands{
  display: contents;
}
.insta {
  font-size: 45px;
  color: #ab20c1;
}
.facebk {
  font-size: 45px;
  color: #1c17bb;
}
/******************************carrousel******************/
$size-width: 1100px;
$size-height: 480px;

.carousel-wrapper {
  width: $size-width * 1.1 ;
  height: $size-height * 1.3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 200px auto 20px;
}

.carousel-container {
  width: $size-width;
  height:680px;
  overflow: hidden;
  margin: 0 auto;
}

.carousel {
  display: flex;
  width: $size-width * 3;
  animation: sliding 12s infinite;
  div {
    width: $size-width;
    height: $size-height;
    background-size: cover;
    background-position: center;
  }
  &:hover {
    animation-play-state: paused;
  }
  .image-one {
    background-image: url("images/IMG_0485.jpg");
    height: 720px;

  }
  .image-two {
    background-image: url("images/gabi_noir_et_blanc.jpg");
    height: 720px;
  }
  .image-three {
    background-image: url("images/marie_noir_et_blanc.jpg");
    height: 720px;

  }
}

@keyframes sliding {
  30% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-$size-width);
  }
  65% {
    transform: translateX(-$size-width);
  }
  70% {
    transform: translateX(-$size-width * 2);
  }
  98% {
    transform: translateX(-$size-width * 2);
  }
  100% {
    transform: translateX(0);
  }
}
/*****************************Formulaire********************************/
form {
  /* Uniquement centrer le formulaire sur la page */
  margin: 250px auto;
  width: 400px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  background-color: antiquewhite;
}

form div + div {
  margin-top: 1em;
}

label {
  /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input, textarea {
  /* Pour s'assurer que tous les champs texte ont la même police.
     Par défaut, les textarea ont une police monospace */
  font: 1em sans-serif;

  /* Pour que tous les champs texte aient la même dimension */
  width: 300px;
  box-sizing: border-box;

  /* Pour harmoniser le look & feel des bordures des champs texte */
  border: 1px solid #999;
}

input:focus, textarea:focus {
  /* Pour souligner légèrement les éléments actifs */
  border-color: #000;
}

textarea {
  /* Pour aligner les champs texte multi‑ligne avec leur étiquette */
  vertical-align: top;

  /* Pour donner assez de place pour écrire du texte */
  height: 5em;
}

.button {
  /* Pour placer le bouton à la même position que les champs texte */
  padding-left: 90px; /* même taille que les étiquettes */
}

button {
  padding: 5px 10px;
    background-color: rgba(244, 189, 126, 0.534);
  /* Cette marge supplémentaire représente grosso modo le même espace que celui
     entre les étiquettes et les champs texte */
  margin-left: .5em;
  
}




@media screen and (max-width: 768px) {
  $size-width: 350px;
  $size-height: 230px;
  .carousel-wrapper {
    width: $size-width * 1;
    height: $size-height * 1;
    margin: 50px auto 20px;
  }

  .carousel-container {
    width: $size-width;
    height: $size-height;
    border-radius: inherit;
  }

  .carousel {
    width: $size-width * 3;
    > div {
      width: $size-width;
      height: $size-height;
    }
    .image-one {
      background-image: url("images/IMG_0485.jpg");
      height: 230px;
  
    }
    .image-two {
      background-image: url("images/gabi_noir_et_blanc.jpg");
      height: 230px;
    }
    .image-three {
      background-image: url("images/marie_noir_et_blanc.jpg");
      height: 230px;
  
    }
  }

  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-$size-width);
    }
    65% {
      transform: translateX(-$size-width);
    }
    70% {
      transform: translateX(-$size-width * 2);
    }
    98% {
      transform: translateX(-$size-width * 2);
    }
    100% {
      transform: translateX(0);
    }
  }
}
/****************************************Responsive*************/
@media screen and (max-width: 770px) {
  body {
    background-color: rgb(0, 0, 0);
  }

  .bg_head{
    width: 107%;
    height: auto;
    margin-top: 70px;
  }
  .logo{
    margin: 295px 25%;
  }
  .activity {
    color: rgb(255, 254, 254);
    font-size: 15px;
    margin: -44px 17%;
  }
  .container_nav_bar {
    margin: -17px ;
    // display: flex;
    // justify-content: center;
    //display: block;
  }
  .title_site {
    font-size: 20px;
    margin-top: 25px;
    color: white;
  }
  .picture_me {
    width: 30%;
    margin: 30px 35%;
  }
  .img_head {
    margin: -250px 40px;
    border-radius: 0;
    color: rgb(255, 254, 254);
    font-size: 30px;
  }
  .container_nav {
    //margin: 30px 65px;
    width: 100%;
    display: block;
    margin: 0;
  }
  .country{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin: 20px 11% ;
  }
  .activity_gall{
    margin: -11px 95px;
  }
  .activity_presta {
    margin: -11px 87px;
  }
  .title_site {
    font-size: 40px;
    font-weight: lighter;
    color: #000;
    margin: 15px 140px;
  }
  .nav_bar {
    font-size: 11px;
    color: rgb(255, 255, 255);
  }
  .nav_site {
    margin: 65px 50px;
  }
.me{
  font-size: 18px;
  font-weight: lighter;
}
  .container_about {
    text-align: justify;
    margin: 10px;
  }

  .about {
    padding: 5px;
    text-align: left;
  }

  .presentation {
    display: block;
    background-color: rgb(255, 255, 255);
    margin: 0px 6px;
    width: auto;
  }
  .reseau_socio{
    margin: 85px 37%;
    
  }
  .insta {
    margin: 25px 79px;
    border-radius: 25px;
  }
  .facebk {
    margin: 0 -45px;
    border-radius: 25px;
  }
.mail{
  position: absolute;
  margin: -25px 85px;
}
.copyr {
  color: white;
  font-size: 15px;
  display: flex;
  /* justify-content: center; */
  margin: -54px 30px;
}
  /************************************Prestation*****************/

  .title_formule {
    position: absolute;
    margin: -55px 30%;
    font-size: 25px;
  }
  .title_presta {
    font-size: 20px;
  }
  .container_presta {
    width: 80%;
    margin: 25px 5px;
  }

  .container_prestation {
    margin: -280px 0px;
  }
  .container_precision {
    margin: 0px;
    width: 85%;
  }
  .other {
    margin: 41px 49px;
  }
  
  /*********************************Gallerie*********************/
  
  .motivation {
    margin: 145px 25px;
}
  .nav_site_gall {
    display: block;
    margin: 50px 60px;
  }
  #container_img {
    display: block;
    margin: 110px 10px;
  }

  .img_gallerie {
    height: 440px;
  }

  .img_gall_head {
    height: 150px;
    border-radius: 0;
  }
  .title_page {
    display: none;
  }
  
}
/***********************************FIN RESPONSIVE*************************************/
